.is-dark {
  background-color: rgb(187, 56, 89);
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1518609878373-06d740f60d8b?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=');
}

.navbar {
  min-height: 4rem;
}
.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-item .button{
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
}

.rounded {
  border-radius: 0.2rem;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 2rem;
  padding-top: 0.1rem;
}

.hero .social-icon-set {
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}

.hero .social-icon-set a {
  margin: auto 2px;
}
